.vscode/**
.vscode-test/**
.agent/**
.devcontainer/**
.husky/**
.git/**
.gitignore
.gitattributes
.eslintrc.json
.prettierrc.json
tsconfig.json
vsc-extension-quickstart.md
src/**
**/*.map
.DS_Store
lint-staged.config.js
webpack.config.js

